section {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.s-whero-3 {
    padding-top: 161px;
}

.contain {
    padding: 0 80px;
    margin-left: auto;
    margin-right: auto;
}

.content__gap40 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    /* max-width: 940px; */
    max-width: 1040px;
    width: 100%;
}

.head__1 {
    font-weight: 500;
    font-size: 80px;
    letter-spacing: -0.64px;
    margin-bottom: 0px;
    color: #1c1c1c;
    line-height: 1.2;
}

.s-whero__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #1c1c1c;
}