@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.containerStyle {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 0 60px;
}

@media (max-width: 809px) {
    .containerStyle {
        padding: 0;
    }
}

/* Контейнеры */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

@media (max-width: 809px) {
    .container {
        padding: 0 20px;
    }
}

.calculator {
    max-width: 1170px;
    padding: 0 0 70px;
    box-sizing: border-box;
    background-color: white;
}

@media (max-width: 809px) {
    .calculator {
        max-width: 770px;
        padding: 0 0 50px;
    }
}

/* финальные данные */
.finalContainer {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: #000;
}

@media (max-width: 809px) {
    .finalContainer {
        gap: 24px;
    }
}

.finalTitle {
    max-width: 720px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1em;
}

@media (max-width: 809px) {
    .finalTitle {
        max-width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.1em;
    }
}

.finalTable {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 500;
    background-color: #F6F6F6;
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    border-right-width: 0;
    border-bottom-width: 0;
}

@media (max-width: 809px) {
    .finalTable {
        font-size: 10px;
    }
}

.finalTable2 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.1em;
    font-weight: 500;
    background-color: #F6F6F6;
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    border-right-width: 0;
    border-bottom-width: 0;
}

@media (max-width: 809px) {
    .finalTable2 {
        font-size: 6px;
    }
}

.finalTableRow {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

@media (max-width: 809px) {
    .finalTableRow {
        border-bottom: 0.5px solid #000;
    }
}

.finalTable2Row {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

@media (max-width: 809px) {
    .finalTable2Row {
        border-bottom: 0.5px solid #000;
    }
}

.finalTableHeaderRow {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    font-weight: 700;
    border-bottom: 1px solid #000;
    text-align: center;
}

@media (max-width: 809px) {
    .finalTableHeaderRow {
        border-bottom: 0.5px solid #000;
    }
}

.finalTableCol1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 70%;
    box-sizing: border-box;
    min-height: 18px;
    border-right: 1px solid #000;
    padding: 8px 0 8px 8px;
}

@media (max-width: 809px) {
    .finalTableCol1 {
        border-right: 0.5px solid #000;
        padding: 2px 0 2px 2px;
    }
}

.finalTableCol2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 30%;
    box-sizing: border-box;
    min-height: 18px;
    text-align: end;
    border-right: 1px solid #000;
    padding: 8px 8px 8px 0;
}

@media (max-width: 809px) {
    .finalTableCol2 {
        border-right: 0.5px solid #000;
        padding: 2px 2px 2px 0;
    }
}

.finalTableLastCol1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 50%;
    box-sizing: border-box;
    min-height: 18px;
    border-right: 1px solid #000;
    padding: 8px 0 8px 8px;
}

@media (max-width: 809px) {
    .finalTableLastCol1 {

        flex: 0 0 35%;
        border-right: 0.5px solid #000;
        padding: 2px 0 2px 2px;
    }
}

.finalTableLastCol2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 50%;
    box-sizing: border-box;
    min-height: 18px;
    text-align: end;
    border-right: 1px solid #000;
    padding: 8px 8px 8px 0;
}

@media (max-width: 809px) {
    .finalTableLastCol2 {
        flex: 1 0 65%;
        border-right: 0.5px solid #000;
        padding: 2px 2px 2px 0;
    }
}

.finalTablePaybackCol2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 50%;
    box-sizing: border-box;
    min-height: 18px;
    text-align: end;
}

.finalTablePaybackSubtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;
    box-sizing: border-box;
    text-align: center;
    min-height: 18px;
    border-right: 1px solid #000;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    height: 100%;
}

@media (max-width: 809px) {
    .finalTablePaybackSubtitle {
        border-right: 0.5px solid #000;
        padding: 2px;
        font-size: 10px;
    }
}

.finalTablePaybackValue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;
    box-sizing: border-box;
    min-height: 18px;
    text-align: end;
    border-right: 1px solid #000;
    padding: 8px;
    height: 100%;
}

@media (max-width: 809px) {
    .finalTablePaybackValue {
        border-right: 0.5px solid #000;
        padding: 2px;
    }
}

.finalTableFirstCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 20%;
    box-sizing: border-box;
    min-height: 18px;
    border-right: 1px solid #000;
    padding: 8px 0;
}

@media (max-width: 809px) {
    .finalTableFirstCol {
        flex: 0 0 17%;
        border-right: 0.5px solid #000;
        padding: 2px 0;
    }
}

.finalTableFirstNameCol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 20%;
    box-sizing: border-box;
    min-height: 18px;
    border-right: 1px solid #000;
    padding: 8px;
}

@media (max-width: 809px) {
    .finalTableFirstNameCol {
        flex: 0 0 17%;
        border-right: 0.5px solid #000;
        padding: 2px;
    }
}

.finalTableFirstNameDivCol {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex: 0 0 20%;
    box-sizing: border-box;
    min-height: 18px;
    border-right: 1px solid #000;
}

@media (max-width: 809px) {
    .finalTableFirstNameDivCol {
        flex-direction: column;
        flex: 0 0 17%;
        border-right: 0.5px solid #000;
    }
}

.finalTableFirstNameLeft {
    flex: 0 1 60%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid #000;
}

@media (max-width: 809px) {
    .finalTableFirstNameLeft {
        flex: 0 1 auto;
        padding: 2px;
        text-align: left;
        border-right: 0 solid #000;
        border-bottom: 0.5px solid #000;
    }
}

.finalTableFirstNameRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 40%;
    padding: 8px;
}

@media (max-width: 809px) {
    .finalTableFirstNameRight {
        padding: 2px;
    }
}

.finalTableSecondCol {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: calc(80% / 9);
    box-sizing: border-box;
    min-height: 18px;
    border-right: 1px solid #000;
    padding: 8px 0;
}

@media (max-width: 809px) {
    .finalTableSecondCol {
        flex-basis: calc(83% / 9);
        border-right: 0.5px solid #000;
        padding: 2px;
    }
}

.finalTableBlock {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.finalTableTitleCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    box-sizing: border-box;
    font-weight: 700;
    padding: 8px 0;
    border-right: 1px solid #000;
}

@media (max-width: 809px) {
    .finalTableTitleCol {
        padding: 2px 0;
        border-right: 0.5px solid #000;
    }
}

/* диаграммы */
.diagramWrap {
    flex: 1 1 100%;
}

@media (max-width: 809px) {
    .diagramWrap {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
    }
}

/* формы и поля */
.calculatorForm {
    margin-top: 50px;
    max-width: 938px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;
    user-select: none;
}

@media (max-width: 809px) {
    .calculatorForm {
        max-width: 100%;
        gap: 50px;
    }
}

.formSubtitle1 {
    grid-column: 1 / 4;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 1.1em;
    font-weight: 500;
    color: #000;
}

@media (max-width: 809px) {
    .formSubtitle1 {
        grid-column: 1 / 2;
        font-size: 20px;
    }
}

.formSubtitle2 {
    grid-column: 1 / 3;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 1.1em;
    font-weight: 500;
    color: #000;
}

@media (max-width: 809px) {
    .formSubtitle2 {
        grid-column: 1 / 2;
        font-size: 20px;
    }
}

.formFieldSet {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 28px;
}

@media (max-width: 809px) {
    .formFieldSet {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.formFieldSetContacts {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
}

@media (max-width: 809px) {
    .formFieldSetContacts {
        max-width: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.formField {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 500;
    color: #000;
}

@media (max-width: 809px) {
    .formField {
        gap: 15px;
        font-size: 14px;
    }
}

.formFieldTextarea {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 500;
    color: #000;
}

@media (max-width: 809px) {
    .formFieldTextarea {
        grid-column: 1 / 2;
        gap: 10px;
    }
}

.inputAndSelect {
    padding: 23px 24px;
    min-height: 67px;
    width: 100%;
    outline: none;
    border: 1px solid #000000;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    color: #005CA9;
    background-color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
}

@media (max-width: 809px) {
    .inputAndSelect {
        padding: 16px 24px;
        min-height: 52px;
        font-size: 14px;
    }
}

.textarea {
    padding: 16px;
    width: 100%;
    outline: none;
    border: 1px solid #000000;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 400;
    color: #005CA9;
}

@media (max-width: 809px) {
    .textarea {
        font-size: 14px;
    }
}

.inputControls {
    position: absolute;
    right: 24px;
    bottom: 16px;
}

@media (max-width: 809px) {
    .inputControls {
        right: 16px;
        bottom: 10px;
    }
}

.inputControl {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.selectArrow {
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}

@media (max-width: 809px) {
    .selectArrow {
        right: 16px;
        bottom: 18px;
        width: 16px;
        height: 16px;
    }
}

.calcBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 30px;
    min-height: 64px;
    font-family: 'Montserrat; sans-serif';
    font-size: 20px;
    line-height: 1.1em;
    color: white;
    background-color: #005CA9;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
}

@media (max-width: 809px) {
    .calcBtn {
        font-size: 18px;
    }
}

.calcBtn:hover {
    background-color: #008ECF;
}

/* Чекбокс политики конфиднциальности */
.checkboxPrivacy {
    position: relative;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(58, 58, 64);
}

.checkboxPrivacyInputReal {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.checkboxPrivacyInput {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-style: solid;
    border-color: rgb(105, 106, 109);
    border-width: 1px;
    border-radius: 4px;
    transition: all 0.2s linear;
    background-color: rgba(187, 187, 187, 0.2);
    cursor: pointer;
}

.checkboxPrivacyInputReal.error~.checkboxPrivacyInput {
    border-color: #F01471;
    background-color: rgba(187, 187, 187, 0.2);
}

.checkboxPrivacyInputReal:checked~.checkboxPrivacyInput {
    border-color: rgb(0, 153, 255);
    background-color: rgba(0, 153, 255);
}

.checkboxPrivacyIcon {
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: all 0.2s linear;
}

.checkboxPrivacyInputReal:checked~.checkboxPrivacyInput .checkboxPrivacyIcon {
    opacity: 1;
}

.checkboxPrivacyLink {
    color: rgb(0, 92, 169);
    text-decoration: none;
    transition: color 0.2s linear;
}

.checkboxPrivacyLink:hover {
    color: rgb(161, 218, 248);
}

/* Радио кнопки с картинками */
.radioList {
    display: flex;
    gap: 24px;
}

@media (max-width: 809px) {
    .radioList {
        flex-direction: column;
        gap: 20px;
    }
}

.radioListBtns {
    display: flex;
    gap: 40px;
}

@media (max-width: 809px) {
    .radioListBtns {
        gap: 20px;
    }
}

.hideRadioInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

.radioImageItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    flex: 1 1 33%;
    cursor: pointer;
}

@media (max-width: 809px) {
    .radioImageItem {
        flex: 0 1 auto;
    }
}

.radioImgBlock {
    display: block;
    position: relative;
    width: 135px;
    height: 151.22px;
}

@media (max-width: 809px) {
    .radioImgBlock {
        width: 54px;
        height: 60.488px;
        flex-shrink: 0;
    }
}

.radioBg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3 linear
}

input.hideRadioInput:checked~.radioImgBlock .radioBg {
    opacity: 1;
}

.radioImage {
    display: block;
    position: absolute;
    width: 88.89%;
    height: 88.89%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.radioName {
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 400;
    color: #000;
    text-align: center;
    transition: color 0.3 linear
}

@media (max-width: 809px) {
    .radioName {
        font-size: 14px;
    }
}

input.hideRadioInput:checked~.radioName {
    color: #005CA9;
}

.radioBtnItem {
    flex: 1 1 50%;
    max-width: 280px;
    cursor: pointer;
}

.radioBtn {
    height: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    padding: 0 10px;
    line-height: 1.1em;
    font-weight: 400;
    color: #005CA9;
    border: 1px solid #008ECF;
    transition: all 0.3s linear;
}

@media (max-width: 809px) {
    .radioBtn {
        height: 52px;
        font-size: 14px;
    }
}

.radioBtnItem input.hideRadioInput:checked~.radioBtn {
    color: #fff;
    background-color: #008ECF;
}

.hiddenBlock {
    display: none !important;
}

@media print and (min-width: 700px) {
    .printContainerDesk {
        padding: 0 !important;
    }

    .finalContainer {
        gap: 120px !important;
    }

    .finalTable,
    .finalTable .finalTablePaybackSubtitle {
        font-size: 10px !important;
    }

    main section {
        max-width: 200mm !important;
    }

    canvas {
        max-width: 180mm !important;
        width: 180mm !important;
        max-height: 90mm !important;
        height: 90mm !important;
    }

    main>button {
        opacity: 0 !important;
    }

    .finalTableFirstNameLeft {
        border-right: none !important;
    }

    .finalTableFirstNameDivCol {
        flex-direction: column !important;
    }
}

@media print and (max-width: 699px) {}